@font-face{
	font-family: "Stratum Bold";
	src: url('fonts/strat/stratum-no1-6.ttf') format('truetype');
	font-weight: 500;
}@font-face{
	font-family: "Stratum Regular";
	src: url('fonts/strat/stratum-no1-5.ttf') format('truetype');
	font-weight: 400;
}

body {
    background-image: url(/static/img/bg/index.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.75);
    background-attachment: fixed;
}

h1{
	color: white;
	font-family: "Stratum Bold", monospace;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
}

h2{
	color: white;
	font-family: "Stratum Regular", monospace;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
}

h3{
	color: white;
	font-family: "Stratum Bold", monospace;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	font-size: 20px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.player-image{
	display: block;
	border-radius: 100%;
	box-sizing: border-box;
	width: 200px;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
}

.one-by-five{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	gap: 10px;
	padding: 1px;
	width: 750px;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.one-by-five > div {
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	padding: 10px 0;
	font-size: 30px;
	border: 1px solid white;
}

.container{
	border-style: solid;
	border-color: white;
	border: 1px;
}

.sep{
	border-style: dashed;
	border-color: grey;
}

.stat{
	font-family: "Stratum Bold", monospace;
	color: white;
	font-size: 20px;
}

.data{
	font-family: "Stratum Regular", monospace;
	font-size: 35px;
}

.rank{
	font-family: "Stratum Regular", monospace;
	font-size: 25px;
}

#chart-container {
	display: flex;
	justify-content: center;
	font-family: 'Stratum Regular', monospace;
    font-size: 16px;
}

#chart-container2 {
	display: flex;
	justify-content: center;
	font-family: 'Stratum Regular', monospace;
    font-size: 16px;
}

.legend {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.legend-item {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.legend-item span {
	margin-left: 5px;
}

.logo{
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	display: flex;
	align-items: center;
}

.chart-description {
	margin: 20px 0;
	text-align: center;
	color: white;
  }
  
  .chart-description h3 {
	font-family: "Stratum Bold", monospace;
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .chart-description p {
	font-family: "Stratum Regular", monospace;
	font-size: 16px;
	line-height: 1.5;
  }

  .bar-text {
	fill: white;
	font-weight: bold;
	text-anchor: middle;
	dominant-baseline: central;
  }
  .leader-text {
	fill: white;
	font-size: 12px;
	text-anchor: middle;
  }